<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/blog"><img src="../images/logo.png" width="150px" height="40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/blog">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>



  {{#if loggedInUser}}
  <p class="navbar-text">Hello, {{{loggedInUser.username}}}!&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <a href="/logout" class="btn btn-primary">Logout</a>
{{else}}
  <a href="/login" class="btn btn-primary">Login</a>
{{/if}}
</nav>